body{
    background-color: blueviolet;

}





/* Estilos Desktop */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vw;
    background-color: blueviolet;
    color: white;
}
.contenedor h1{
    font-size: 3rem!important;
}
    
/* Primer beakpoint */
@media screen and (max-width: 900px){

    .contenedor{
        background-color: tomato;
    }
    .contenedor h1 {
        font-size: 5rem!important;
        text-decoration: line-through;
    }

}
/* Segundo beakpoint */
@media screen and (max-width: 468px){
    .contenedor{
        background-color: darkcyan;
    }
    .contenedor h1{
        font-size: 2rem!important;
        text-decoration: underline;
        background-color: tomato;
        color: #232323;
    }    
}


